@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* Para dispositivos móveis pequenos */
@media (max-width: 375px) {
  /* estilos para 375px ou menos */
}

/* Para dispositivos móveis maiores e tablets */
@media (min-width: 376px) and (max-width: 767px) {
  /* estilos entre 376px e 767px */
}

/* Para tablets e desktops pequenos */
@media (min-width: 768px) and (max-width: 1439px) {
  /* estilos entre 768px e 1439px */
}

/* Para desktops grandes */
@media (min-width: 1440px) {
  .food-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
